
.banner_wrap{
	background: #fff;
	border-top: solid #d2d2d2 1px;
	border-left: solid #d2d2d2 1px;
	border-right: solid #d2d2d2 1px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}
.banner_wrap>img{
	display: inline-block;
}
.priduct_tabtit>ul>li{
	width: 400px;
	height: 70px;
	box-sizing: border-box;
	border: solid #d2d2d2 1px;
	float: left;
}
.priduct_tabtit>ul>li.join_tit{
	border-top: 2px #f00 solid;
	border-bottom: 0;	
	font-size: 23px;
	color: #f00;
	text-align: center;
	line-height: 70px;	
}
.product_tabinner{
	padding: 18px 16px 0;
}
.product_describe{
	width: 100%;
	margin-bottom: 20px;
}
.product_txt{
	width: 708px;
	float: left;
	color: #5a4f4f;
	font-size: 17px;
	line-height: 36px;
	padding-left: 22px;
}
.guidelines{
	width: 400px;
	height: 128px;
	float: right;
}
.filter{
	height: 78px;
	background: #f6f6f6;
	padding: 0 22px;
	line-height: 78px;
	margin-bottom: 10px;
}
.filter div{
	display: inline-block;
	margin-right: 58px;
}
.filter_option{
	width: 108px;
	height: 28px;
	border: solid #d2d2d2 1px;
	font-size: 12px;
}
.filter_tit{
	font-size: 17px;
	margin-right: 6px;
}
.filter_btn{
	width: 73px;
	height: 25px;
	border: solid 1px #e60012;
	display: inline-block;
	text-align: center;
	line-height: 25px;
	color: #e60012;
	font-size: 16px;
	float: right;
	margin-top: 26px;
}
.filter>form{
	float: left;
}
.product_tabinner{
	width: 1166px;
	border-left: solid #d2d2d2 1px;
	border-right: solid #d2d2d2 1px;
	border-bottom: solid #d2d2d2 1px;
}
.news_wrap{
	padding-top: 60px;
	padding-bottom: 200px;
}
.news_item_tit{
	height: 60px;
	padding: 0 72px;
}
.news_item{
	height: 60px;
	padding: 0 72px;
}

.job_tit{
	display: inline-block;
	font-size: 16px;
	color: #f00;
	width: 250px;
	text-align: center;
	line-height: 60px;
}
.job-list-tit{
	height: 60px;
	padding: 0 72px;	
	cursor: pointer;
}
.job-list-tit:hover{
	background: #f2f2f2;
}
.job-list-tit>span{
	display: inline-block;
	font-size: 16px;
	width: 250px;
	text-align: center;	
	line-height: 60px;	
}
.job-list-main{
	width: 836px;
	margin: 0 auto;
	padding: 10px 0;
	display: none;
}
.job-list-main>p{
	color: #7b7b7b;
}
.job_inner_tit{
	font-weight: 14px;
	font-weight: bold;
}