.login{
	max-width: 1920px;
	height: 590px;
	background: url(../../images/login/banner_02.jpg) no-repeat center;
	position: relative;
}
.login_box{
	width: 424px;
	position: absolute;
	top: 24px;
	right: 352px;
}
.tips{
	width: 100%;
	height: 46px;
	background: #fff8ef;
	text-align: center;
	line-height: 46px;
	font-size: 15px;
	color: #000;
}
.login_type{
	background: #fff;	
}
.type_tit{
	width: 424px;
	height: 64px;
	border-bottom: solid 1px #716f6f;
}
.byCode,.byName{
	width: 211px;
	height: 64px;
	font-size: 20px;
	text-align: center;
	line-height: 64px;
	float: left;
}
.line{
	float: left;
	width: 2px;
	height: 22px;
	background: #8e8d8d;
	margin-top: 23px;
}
.byCode_body{
	width: 100%;
	text-align: center;
	padding-top: 27px;
	display: none;
}
.byCode_body.show{
	display: block;
}
.byCode_body>p{
	font-size: 15px;
	line-height: 14px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.c-red{
	color: #f00;
}
.advantage>span{
	height: 29px;
	display: inline-block;
	font-size: 17px;
	background-image: url(../../images/login/icon.png);
	background-repeat: no-repeat;
	padding-left: 34px;
	line-height: 29px;
	margin-right: 16px;
	margin-bottom: 26px;
}
.import{
	background-position: 0 0;	
}
.faster{
	background-position: -116px 0;
}
.safer{
	background-position: -240px 0;
}
.register{
	width: 100%;
	height: 62px;
	background: #e1e1e1;
	position: relative;
}
.nowRegister{
	color: #cf383f;
	height: 21px;
	line-height: 21px;
	font-size: 16px;
	padding-left: 26px;
	background: url(../../images/login/icon.png) no-repeat -340px 0;
	position: absolute;
	top: 20px;
	right: 26px;
}
.byName_body{
	padding-left: 26px;
	padding-right: 26px;
	padding-bottom: 37px;
	display: none;
}
.byName_body.show{
	display: block;
}
.login_form{
	width: 372px;
	margin: 0 auto;
}
.userName,.password{
	width: 370px;
	height: 48px;
	position: relative;
	margin: 40px auto 22px;
}
.name_icon,.password_icon{
	position: absolute;
	width: 46px;
	height: 46px;
	background: #f4f4f4;
	background-image: url(../../images/login/icon.png);
	background-repeat: no-repeat;
	background-position: 13px -33px;
	border-left: solid 1px #cccbcb;
	border-top: solid 1px #cccbcb;
	border-bottom: solid 1px #cccbcb;
}
.ipt_name,.ipt_password{
	width: 314px;
	height: 46px;
	border: solid 1px #cccbcb;
	padding-left: 54px;
}
.password{
	margin: 0 auto;
}
.password_icon{
	background-position: -24px -33px;
}
.forget{
	padding-top: 28px;
	padding-bottom: 26px;
	text-align: right;
}
.forget_btn{
	line-height: 16px;	
	font-size: 16px;	
}
.login_btn{
	width: 100%;
	height: 40px;
	background: #e5393c;
	color: #fff;
	font-size: 26px;
	line-height: 40px;
	text-align: center;
	border: 0;
	cursor: pointer;
}
.loginTab_btn.cur{
	color: #f00;
}